<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("b0a166c4-1faa-41a8-85cc-fd791f1bde65");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
